.forgaetPass-container {
  width: 600px;
  height: 250px;
  background-color: antiquewhite;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
}

.input-forgetPass {
  margin-top: 20px;
  height: 40px;
  width: 300px;
}

.button-forgetPass {
  margin-top: 40px;
  width: 150px;
  height: 30px;
}
